/*
TEXTBLOCKS
*/

.aboutme-wrapper {
    display: flex;
    padding-top: 5.5rem;
    margin-left: 5.5rem;
    padding-bottom: 4rem;
}

.aboutme-title {
    height: 90vh;
    position: relative;
}

.aboutme-title h1 { 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2rem;
    font-size: 4.5rem;
    color: #ffdba5
}

.aboutme-text-wrapper {
    width: 57%;
}

.aboutme-textblock {
    padding-top: 12rem;
}

.aboutme-textblock p {
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.aboutme-word {
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 3.4vw;
}

.aboutme-character {
    font-size: 2.85rem;
    color: antiquewhite;
}

/*
GALLERY
*/

.aboutme-gallery-wrapper {
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 4rem;
    padding: 3rem;
    padding-top: 0;
}

.aboutme-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    

.aboutme-picture-wrapper img{
    height: auto;
}

/*
BUTTON
*/

.aboutme-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.send-button {
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    outline-offset: -1.66px;
    background-color: transparent;
    border: 3px solid white;
    outline: 2.5px solid white;
    width: calc(1.33*144px);
    height: calc(1.3*53px);
    z-index: 4;
    transition: outline-offset 250ms, transform 250ms;
}

.send-button h2 {
    color: white;
}

.send-button:hover, .email-loading {
    border: 4px solid #ffcc7f;
    outline: 3.5px solid #ffcc7f;
    outline-offset: -10px;
    cursor: pointer;
    transform: translateY(-2.5px) scale(0.93);;
    transition: outline-offset 250ms, transform 250ms;
}

.send-button:hover h2, .email-loading h2 {
    color: #ffcc7f;
}

/*
MEDIA
*/

@media (max-width: 1250px) {
    .aboutme-title h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1000px) {
}

@media (max-width: 1024px) {
    .aboutme-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding-top: 0;
    }

    .aboutme-title {
        height: 100vh;
    }

    .aboutme-text-wrapper {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .aboutme-textblock {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .aboutme-word {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 2.4rem;
    }

    .aboutme-gallery-wrapper {
        padding-top: 5rem;
        width: 100%;
        align-items: center;
    }

    .aboutme-picture-wrapper {
        align-items: center;
    }
}

@media (max-width: 800px) {
    .aboutme-word {
        font-size: 2rem;
    }

    .aboutme-textblock {
        padding-top: 10rem;
    }
}


@media (max-width: 700px) {
    .aboutme-word {
        font-size: 2rem;
    }

    .aboutme-textblock {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 550px) {
    .aboutme-textblock {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



