/*
TEXTBLOCKS
*/

.aboutme-wrapper {
    display: flex;
    padding-top: 5.5rem;
    margin-left: 5.5rem;
    padding-bottom: 4rem;
}

.aboutme-title {
    height: 90vh;
    position: relative;
}

.aboutme-title h1 { 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2rem;
    font-size: 4.5rem;
    color: #ffdba5
}

.aboutme-text-wrapper {
    width: 57%;
}

.aboutme-textblock {
    padding-top: 12rem;
}

.aboutme-textblock p {
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.aboutme-word {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 3.6vw;
}

.aboutme-character {
    font-size: 2.85rem;
    color: antiquewhite;
}

/*
GALLERY
*/

.aboutme-gallery-wrapper {
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 4rem;
    padding: 3rem;
    padding-top: 0;
}

.aboutme-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    

.aboutme-picture-wrapper img{
    height: auto;
}

/*
MEDIA
*/

@media (max-width: 1250px) {
    .aboutme-title h1 {
        font-size: 4rem;
    }
}


@media (max-width: 1000px) {
    .aboutme-word {
        font-size: 2rem;
    }

    .aboutme-textblock {
        padding-top: 10rem;
    }
}

@media (max-width: 550px) {
    .aboutme-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding-top: 0;
    }

    .aboutme-title {
        height: 100vh;
    }

    .aboutme-text-wrapper {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .aboutme-word {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 2.3rem;
    }

    .aboutme-gallery-wrapper {
        padding-top: 5rem;
        width: 100%;
        align-items: center;
    }

    .aboutme-picture-wrapper {
        align-items: center;
    }
}



