/*
TEXTBLOCKS
*/

.aboutme-wrapper {
    display: flex;
    padding-top: 5.5rem;
    margin-left: 5.5rem;
    padding-bottom: 4rem;
}

.aboutme-text-wrapper {
    width: 57%;
}

.aboutme-textblock {
    padding-top: 12rem;
}

.aboutme-textblock p {
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.aboutme-word {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 3rem;
    color: #b57412
}

.aboutme-character {
    font-size: 2.85rem;
    color: antiquewhite;
}

/*
GALLERY
*/

.aboutme-gallery-wrapper {
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 4rem;
    padding: 3rem;
    padding-top: 0;
}

.aboutme-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    

.aboutme-picture-wrapper img{
    height: auto;
}

