.contact-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.contact-label-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
}

.contact-label {
    color: white;
    font-size: 3.5rem;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    padding: 1.5rem;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    width: 57vw;
    gap: 1rem;
}

.form-label {
    color: white;
    font-weight: 700;
}

.form-input {
    border: 3px solid white;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px;
}

.send-button {
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    outline-offset: -1.66px;
    background-color: transparent;
    border: 3px solid white;
    outline: 2.5px solid white;
    width: calc(1.1*144px);
    height: calc(1.1*53px);
    z-index: 4;
    transition: outline-offset 250ms, transform 250ms;
}

.send-button:hover, .email-loading {
    border: 4px solid #ffcc7f;
    outline: 3.5px solid #ffcc7f;
    outline-offset: -10px;
    cursor: pointer;
    transform: translateY(-2.5px) scale(0.93);;
    transition: outline-offset 250ms, transform 250ms;
}

.send-button:hover h2, .email-loading h2 {
    color: #ffcc7f;
}

.contact-form-footer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.form-response {
    color: #ffdba5;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
    border: 3px solid white;
    padding: 1rem;
    width: 22vw;
}

.socials {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
}

.signature {
    padding-top: 1rem;
    display: flex;
    width: 90vw;
}

.signature h1 {
    margin-left: auto;
    font-size: 1.2rem;
    color: white;
}

.signature a {
    margin-left: auto;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffdba5;
}
