.background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -3;
    opacity: 1;
    overflow: hidden;
    z-index: 0;
}

.slide-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: -4;
}

.slide {
    position: absolute;
    filter: brightness(60%);
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateY(0) translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    transform-origin: 20%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -4;
  }

.main-tagline {
    transform: scale(1);
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 47%;
    text-align: center;
    visibility: visible;
    transition: 0.33s;
    opacity: 1;
}

.main-tagline h2 {
    font-family: 'ApercuRegular', sans-serif;
    letter-spacing: normal;
    font-size: 25px;
    color: #ffdba5;
    text-shadow: 0px 0px 2px #ffdba5;
}

/*.sub-label-wrapper { 
    position: absolute;
    bottom: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;  
    left: 50%;
    transform: translateX(-50%); 
    z-index: 100;
}

.sub-label {
    color: white;
    font-family: aightFont, sans-serif;
    font-size: 26px;
    z-index: 100;
}*/

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.start {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    outline-offset: -1.66px;
    background-color: transparent;
    border: 3px solid white;
    outline: 2.5px solid white;
    width: calc(1.15*144px);
    height: calc(1.15*53px);
    z-index: 4;
    transition: outline-offset 250ms, transform 250ms;
}

.start h2 {
    /*font-family: gaming, sans-serif;*/
    color: white;
    text-shadow: 1px 1px 3px  #ffdba5;
}

.start:hover {
    border: 4px solid #ffcc7f;
    outline: 3.5px solid #ffcc7f;
    outline-offset: -10px;
    cursor: pointer;
    transform: translateY(-2.5px) scale(0.93);;
    transition: outline-offset 250ms, transform 250ms;
}

.start:hover h2{
    text-shadow: 1px 1px 3px white;
    color: #ffcc7f;
}

.intro-wrapper {
    /*height: 2500px;*/
}

.intro-wrapper .p-wrapper {
    position: absolute;
    width: 80vh;
    transform: translateY(80%);
    left: 10%;
}

.intro-wrapper p {
    position: relative;
    color: white;
    font-size: 50px;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    color: white;
    backface-visibility: hidden;
    transform: translateZ(0) translateY(-50%) translateX(-50%);
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    z-index: 2500;
}

.intro-text span {
    display: inline-block;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    z-index: 5500;
    white-space: nowrap;
}

.intro-text .new-line {
    display: block;
    width: 60vw;
}

.start-scroll {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    font-family: gaming, sans-serif;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

.start-scroll .down {
    padding: 5px;
    display: inline-block;
    transform: rotate(90deg);
}

.start-scroll span {
    display: inline-block;
}

.div1 {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    transform: translateY(100%);
    transition: transform 0.35s ease-in-out;
    overflow: hidden;
    background-color: black;
}

.div2 {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    transform: translateY(100%);
    transition: transform 0.35s ease-in-out;
    overflow: hidden;
    background-color: black;
}

.div1::-webkit-scrollbar {
    display: none;
}

.div2 .text-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 85%;
}

.div2 .text-wrapper p{
    position: relative;
    font-size: 26px;
}

.div2:hover{
    /*transform: translateY(100%) scale(1.05);*/
    cursor: pointer;
    border: solid 4px #daa14b;
    z-index: 2;
    transition: transform 0.35s ease-in-out;
}

.div1:hover{
    /*transform: translateY(100%) scale(1.05);*/
    cursor: pointer;
    border: solid 4px #daa14b;
    z-index: 2;
    transition: transform 0.35s ease-in-out;
}

.flower-container-1 {
    position: absolute;
    right: 7%;
    bottom: 26%;
    z-index: 50;
}

.flower-container-2 {
    position: absolute;
    right: 4%;
    bottom: 56%;
    z-index: 50;
}

.flower-container-3 {
    position: absolute;
    right: 6%;
    bottom: 42%;
    z-index: 50;
}

.flower-container-intro-2 {
    position: absolute;
    right: 4%;
    bottom: 42%;
    z-index: 50;
}

.flower-container-intro-3 {
    position: absolute;
    right: 6%;
    bottom: 56%;
    z-index: 50;
}

.flower-container-4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.flower-wrapper-hidden {
    display: none;
}

.flower-1:hover, .flower-2:hover, .flower-3:hover {
    transform: scale(0.69);
    cursor: pointer;
}

.flower-container-1.active .flower-1:hover, .flower-container-2.active .flower-2:hover, .flower-container-3.active .flower-3:hover{
    transform: scale(0.65);
}

.loading-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: black;
}

@media (max-width: 650px) {
    .main-tagline h2 {
        font-size: 22px;
    }

    .flower-container-4 {
        left: 0
    }
}
